body {
  margin: 0px;
  font-family: "Poppins", sans-serif;
  color: #666666;
}

a {
  text-decoration: none;
  color: #666666;
}

h1 {
  font-size: xx-large;
  width: 90%;
}

h2 {
  font-size: x-large;
}

h3 {
  font-size: large;
}

h1,
h2,
h3 {
  color: #222222;
  font-weight: normal;
  letter-spacing: 1px;
  margin: 0px;
}

p {
  font-size: large;
}

hr {
  border-style: solid;
  border-color: white;
  width: 100%;
}

@media (min-width: 850px) {
  p {
    font-size: small;
  }
}

img {
  max-width: 100%;
}

.bold {
  font-weight: 600;
}

.top {
  margin-top: 20px;
  margin-bottom: 30px;
  width: 90vw;
  display: flex;
  justify-content: space-between;
}

@media (min-width: 850px) {
  .top {
    display: none;
  }
}

.top_links {
  display: none;
  margin-left: 10vw;
  width: 90vw;
  height: 85vh;
  background-color: #a174db;
  position: fixed;
  z-index: 3;
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 90%;
}

.links a {
  margin-left: 15px;
  color: white;
  font-size: 20px;
}

.search_field {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2px;
  border: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: #e6b3ff;
  width: 95%;
  height: 10%;
  color: #c2c2c2;
  font-size: 20px;
}

.menu {
  width: 40px;
}

.top_cont {
  display: none;
}

@media (min-width: 850px) {
  .top_cont {
    width: 100vw;
    display: flex;
    justify-content: center;
  }

  .link_pressed {
    color: #a174db;
    position: relative;
  }

  .link_pressed::after {
    background-color: #a174db;
    border-radius: 50%;
    left: 0;
    content: "";
    height: 5px;
    position: absolute;
    right: 0;
    top: 100%;
    width: 5px;
    margin: auto;
  }
}

.top_desk {
  min-width: 1200px;
  max-width: 1500px;
  height: 75px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 30px;
  font-size: small;
}

.top_links_desc {
  width: 500px;
  display: flex;
  justify-content: space-evenly;
}

.search_field_desk {
  border: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: #e6b3ff;
  width: 200px;
  height: 30px;
  color: #c2c2c2;
}

.link_deco {
  width: 100px;
  height: 70px;
  padding: 7px 20px;
  border-radius: 5px;
  font-size: large;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 850px) {
  .link_deco {
    width: 75px;
    height: 25px;
    font-size: small;
  }
}

.bright_deco {
  background-image: linear-gradient(to right, #6443b0, #af67c7);
  color: white;
}

.white_deco {
  border: solid;
  border-width: thin;
  border-color: #a174db;
  color: #a174db;
}

.top_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.top_text_element {
  margin: 10px 10px;
}

.two_links {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

@media (min-width: 850px) {
  .two_links {
    width: 30%;
    max-width: 400px;
  }
}

@media (min-width: 850px) {
  .top_text_element {
    width: 40%;
    max-width: 600px;
    text-align: center;
  }
}

.background_container {
  margin-top: 25px;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.background_container::before {
  background-image: linear-gradient(to right, #e1ebed, #b3daf2);
  opacity: 0.5;
  left: 0;
  content: "";
  height: 80px;
  width: 100vw;
  position: absolute;
  right: 0;
  top: 85%;
  z-index: 1;
}

.background_img {
  z-index: 2;
}

.middle_part {
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.middle_part_text {
  margin: 0 10px;
}

.middle_part_elem {
  max-width: 500px;
}

.middle_part_second {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.left {
  align-self: flex-end;
}

@media (min-width: 850px) {
  .middle_part {
    max-width: 1500px;
    display: flex;
    flex-direction: column;
  }

  .middle_part_elem {
    display: flex;
    max-width: none;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .middle_part_text {
    width: 30%;
  }

  .middle_part_pic {
    width: 30%;
  }

  .middle_part_second {
    display: unset;
  }

  .middle_part_elem.left {
    flex-direction: row-reverse;
  }
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hide {
  display: none;
}

.main_part_speciality {
  margin: 20px;
  display: flex;
  justify-content: center;
}

.speciality {
  width: 90%;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 10px 30px #d5d2d9;
}

@media (min-width: 850px) {
  .speciality {
    width: 20%;
    margin: 15px;
  }

  .hide {
    display: unset;
  }
}

.round_button {
  width: 40px;
  height: 40px;
  background-color: white;
  margin: 10px;
  border-radius: 50%;
  border: 0 none;
  box-shadow: 0 10px 30px #d5d2d9;
}

.owning {
  padding: 0 5px;
  text-align: center;
}

@media (min-width: 850px) {
  .owning {
    padding: unset;
    width: 40%;
  }
}

.products {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products_element {
  margin-bottom: 50px;
  width: 90%;
  border-radius: 5px;
  box-shadow: 0 10px 30px #d5d2d9;
  text-align: center;
}

@media (min-width: 850px) {
  .products {
    width: 70%;
    height: 600px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }

  .products_element {
    margin: 10px;
    width: 28%;
    border-radius: 5px;
    box-shadow: 0 10px 30px #d5d2d9;
    text-align: center;
  }

  .down {
    align-self: flex-end;
  }

  .products_container {
    margin: 50px 0;
  }
}

.green_deco {
  color: #49be55;
}

.contact_heading {
  margin: 20px 0;
  text-align: center;
}

.contact {
  height: 100vh;
  width: 100vw;
  background-color: #ebf5ff;
}

.contact_element_cont {
  width: 90%;
  height: 75%;
  border-radius: 5px;
  background-color: white;
}

.contact_element {
  padding: 0 5px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.submit_button {
  height: 50px;
}

#fname,
#lname,
#mail,
#problem {
  height: 35px;
  border-left: none;
  border-top: none;
  border-right: none;
  color: #666666;
  font-family: "Poppins", sans-serif;
  font-size: small;
}

#message {
  height: 100px;
  border-left: none;
  border-top: none;
  border-right: none;
  color: #666666;
  font-family: "Poppins", sans-serif;
  font-size: small;
}

input[type="text"],
input[type="email"] {
  padding: 0 10px;
}

textarea {
  padding: 0 10px;
}

.red_field {
  border: 2px solid red;
}

@media (min-width: 850px) {
  .contact_element_cont {
    width: 50%;
  }

  .contact_element {
    margin: 35px;
    padding: unset;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .names {
    display: flex;
    justify-content: space-between;
  }

  .names_elements {
    width: 45%;
    display: flex;
    flex-direction: column;
  }

  .submit_button {
    width: 80px;
  }
}

.add_margin {
  margin-bottom: 50px;
}

#backdrop {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: 10;
  pointer-events: none;
  display: none;
}

#backdrop.visible {
  display: block;
  pointer-events: all;
}

.modal {
  position: fixed;
  z-index: 100;
  width: 90%;
  height: 85%;
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  top: 10vh;
  left: 5%;
  overflow: scroll;
  display: none;
}

@media (min-width: 850px) {
  .modal {
    width: 60%;
    height: 80%;
    left: 20%;
  }
}
.modal.visible {
  display: block;
  animation: fade-slide-in 0.3s ease-out forwards;
}

.modal_content {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
}

#centered_elem {
  align-self: center;
  text-align: center;
  margin: 15px 0;
}

.confirm_button {
  width: 85px;
  height: 45px;
  font-size: large;
  border-radius: 5px;
  margin: 15px;
}

#cancel_button {
  border-color: #a174db;
  color: #a174db;
  background-color: white;
}

#yes_button {
  background-color: #49be55;
  color: white;
}

.confirmation_buttons {
  width: 100%;
  height: 25vh;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}